<%= render "form.html", Map.put(assigns, :action, user_path(@conn, :update, @user))
                        |> Map.put(:form_title, "Editar Usuario") %>

<span><%= link "Regresar", to: user_path(@conn, :index) %></span>
