<h2>Editar Revista</h2>

<%= render "form.html", Map.put(assigns, :action, site_magazine_path(@conn, :update, @site.name, @magazine)) %>

<span><%= link "Regresar", to: site_magazine_path(@conn, :index, @site.name) %></span>
