<h2>Show Magazine</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @magazine.title %>
  </li>

  <li>
    <strong>Cover:</strong>
    <%= @magazine.cover %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @magazine.description %>
  </li>

</ul>

<p><%= link "Editar", to: site_magazine_path(@conn, :edit, @site.name, @magazine) %></p>
<p><%= link "Regresar", to: site_magazine_path(@conn, :index, @site.name) %></p>
