<%= if current_site(@conn) do %>
  <%= render "_site_navbar.html", assigns %>
<% else %>
  <%= render "_navbar.html", assigns %>
<% end %>

<div role="main">
  <%= render @view_module, @view_template, assigns %>
</div>
