<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello ElephantInTheRoom!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body>
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li class="uk-active">
            <a href="<%=  page_path(@conn, :index) %>">
              Elephant In The Room!
            </a>
          </li>
          <li class="uk-parent"><a href="">SA</a></li>
          <li><a href=""></a></li>
        </ul>
      </div>
    </nav>

    <div class="uk-animation-toggle">
      <div class="uk-card uk-card-default uk-card-body uk-animation-scale-down">
        <div class="uk-tile uk-tile-primary uk-padding-small">
          <p class="uk-h4">Site 1</p>
        </div>
      </div>
    </div>

    <div class="uk-animation-toggle">
      <div class="uk-card uk-card-default uk-card-body uk-animation-scale-down">
        <div class="uk-tile uk-tile-primary uk-padding-small">
          <p class="uk-h4">Site 1</p>
        </div>
      </div>
    </div>
        
  </body>
</html>
