<% alias ElephantInTheRoomWeb.Uploaders.Image %>

<div class="el-sites">
  <div class="el-title">
    <div class="uk-tile uk-tile-primary">
      <p class="uk-h4"><h1><%= @author.name %></h1></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-1"> </div>
    <div class="col-xs-10">
      <img src="<%= Image.url({@author.image, @author}) %>" alt="">
      <p><%= @author.description %></p>
    </div>
  </div>
  <span><%= link "Back", to: site_path(@conn, :index) %></span>
</div>
