$admin-navbar-height: 3.25em;
$admin-navbar-small: 600px;
$admin-navbar-medium: 1000px;

.admin-top-bar-line {
    width: 100vw;
    background-color: #276cda;
    height: 4px;
}

.admin-nav-options {
    background-color: white;
    a {
        text-transform: capitalize !important;
        font-weight: bold;
        color: black !important;
        &:hover {
            background: #efeded;
        }
    }
    li {
        list-style: none;
    }
}

.small-admin-nav-options {
    ul {
        padding: 0.5em 0 0.5em 1em;
        margin: 0;
    }
    li {
        margin-bottom: 0.8em;
    }
    a {
        color: #616161 !important;
    }
    z-index: -200;
    box-shadow: inset 0px -13px 30px -16px #8c8c8c;
}

.admin-nav-bar {
    z-index: 0;
    background-color: white !important;
    &, ul, li {
        height: $admin-navbar-height !important;
    }
    a {
        height: 100% !important;
    }
    .nav-title a {
        font-family: $admin-nav-title-font;
        font-weight: 300;
    }
    .show-only-on-small {
        display:none;
        background-color: red !important;
        @media screen and (max-width: $admin-navbar-small - 1) {
            display: inline-flex !important;
            background-color: black !important;
        }
    }
    .show-only-on-bigger-than-small {
        display:none;
        @media screen and (min-width: $admin-navbar-small) {
            display: inline-flex;
        }
    }
}

.el-administration-wrapper {
  height: 100vh;
  width: 100vw;

  > .row {
    height: 100%;
    padding: 0;
  }

  .navigation-side-panel {
    color: white;
    background: #2b2628;
    height: 100%;
    padding: 0;
    text-align: center;

    .administration-title {
      padding-left: 0.3em;
      background: #393235;
      h3 {
        a {
          color: #ffba00;
        }
      }
    }

    .administation-items {
      list-style-type: none;
      li a {
        color: #7d7779;
      }
    }
  }

  .administation-content {
    background: whitesmoke;
    height: 100%;
  }
}
