.category-title {
  font-size: 200%;
}

.category-main-post {
  h2 {
    font-size: 150%;

    > a, > a:hover {
      color: $black;
    }
  }
}

.category-posts {
  h2 {
    margin: 0;
    font-size: 120%;

    > a, > a:hover {
      color: $black;
    }
  }
  .author {
    @media screen and (max-width: 640px) {
      font-weight: normal;
    }
  }

  p {
    margin: 5px 0;
    font-size: 90%;
  }
}

hr:last-child {
  display: none;
}
