.category-title {
  font-size: 200%;
}

.category-main-post {
  h2 {
    font-size: 150%;

    > a, > a:hover {
      color: $black;
    }
  }

  .image {
    height: 625px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (max-width: 640px) {
      height: 300px;
      position: relative;
    }
  }
}

.category-posts {
  h2 {
    margin: 0;
    font-size: 120%;

    > a, > a:hover {
      color: $black;
    }
  }
  .author {
    @media screen and (max-width: 640px) {
      font-weight: normal;
    }
  }

  p {
    margin: 5px 0;
    font-size: 90%;
  }

  .image {
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    @media screen and (min-width: 640px) {
      height: 300px;
    }
  }
}

hr:last-child {
  display: none;
}
