$landing-break-m: 960px;
$landing-break-s: $navbar-break-s;
$landing-separator-border: 1px solid #dbdbdb;
$landing-separator-space: 6px;
$landing-separator-decrease-space: 12px;

.main-landing-page-container {
    width: 100%;
    text-align: center;

    .main-landing-page-content {
        display: block;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: $navbar-break-s) {
            width: 100%;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        @media (min-width: $navbar-break-s) {
            margin-bottom: 64px;
            padding-top: 32px;
            width: calc(100% - 32px);
        }

        @media (min-width: 1376px){
            width: 1280px;
        }
    }

    .individual-content {
        width: 100%;
        height: 100%;
    }

    .individual-content.one {
        height: calc(100% - #{$landing-separator-decrease-space});
        border-bottom-style: solid;
        border-bottom: $landing-separator-border;
    }

    .individual-content.two {
        padding-top: $landing-separator-space;
        height: calc(100% - #{$landing-separator-decrease-space});
    }

    .left-htop {
        &, > * {
            width: 100%;
        }

        @media (min-width: $landing-break-m) {
            width: calc(100% - #{$landing-separator-decrease-space});
            border-right-style: solid;
            border-right: $landing-separator-border;
            padding-right: $landing-separator-space;
        }
    }

    .right-htop {
        float: right;
        &, > * {
            width: 100%;
        }

        @media (min-width: $landing-break-m) {
            width: calc(100% - #{$landing-separator-decrease-space});
            border-left-style: solid;
            border-left: $landing-separator-border;
            padding-left: $landing-separator-space;
        }
    }

}

.popular > a {
    text-decoration: none;
}

.popular > a > p {
    margin: 0;
    color: #000;
}

.popular > a > p:last-child {
    margin-bottom: 20px;
}

.popular > a > p span {
    color: #F0204F;
}
