$landing-break-m: 960px;
$landing-break-s: $navbar-break-s;
$landing-separator-border: 1px hidden #dbdbdb;
$landing-separator-space: 6px;
$landing-separator-decrease-space: 12px;

.main-landing-page-container {
    width: 100%;
    text-align: center;

    .main-landing-page-content {
        display: block;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: $navbar-break-s) {
            width: 100%;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        @media (min-width: $navbar-break-s) {
            margin-bottom: 64px;
            padding-top: 32px;
            width: calc(100% - 32px);
        }

        @media (min-width: 1376px){
            width: 1280px;
        }
    }

    @mixin content-border-right() {
        width: calc(100% - #{$landing-separator-decrease-space});
        border-right-style: solid;
        border-right: $landing-separator-border;
        padding-right: $landing-separator-space;
    }

    @mixin content-border-left() {
        width: calc(100% - #{$landing-separator-decrease-space});
        border-left-style: solid;
        border-left: $landing-separator-border;
        padding-left: $landing-separator-space;
    }

    @mixin content-border-bottom() {
        height: calc(100% - #{$landing-separator-decrease-space});
        border-bottom-style: solid;
        border-bottom: $landing-separator-border;
        padding-bottom: $landing-separator-space;
    }

    @mixin content-no-border-bottom() {
        @include content-border-bottom();
        border-bottom-style: hidden;
    }

    .individual-content {
        width: 100%;
        height: 100%;
    }

    .group-content-left-top {
        .left-top-container {
            &, > * {
                width: 100%;
            }

            @media (min-width: $landing-break-m) {
                @include content-border-right()
            }
        }
        .left-two-one {
            @include content-border-bottom();
        }
        .left-two-two {
            @include content-no-border-bottom();
        }
    }

    .group-content-right-four {
        .right-top-container {
            float: right;
            &, > * {
                width: 100%;
            }

            @media (min-width: $landing-break-m) {
                @include content-border-left();
            }
        }
        .right-four-one, .right-four-two, .right-four-three {
            @include content-border-bottom()
        }

        .right-four-four {
            @include content-no-border-bottom();
        }
    }

    .group-content {
        @include content-border-bottom();
    }

    .group-content-four {
        @media (max-width: $landing-break-s) {
            .four-one, .four-two, .four-three{
                @include content-border-bottom();
            }
        }

        @media (min-width: $landing-break-s) and (max-width: $landing-break-m) {
            .four-one, .four-three {
                @include content-border-right();
            }
        }

        @media (min-width: $landing-break-m) {
            .four-one, .four-two, .four-three {
                @include content-border-right();
            }
        }
    }

    .group-content-three {
        @media (min-width: $landing-break-m) {
            .three-one, .three-two {
                @include content-border-right();
                border: none;
            }
        }

        @media (max-width: $landing-break-m) {
            .three-one, .three-two {
                @include content-border-bottom();
            }
        }
    }

    .individual-content{
        a {
            text-decoration: none;
        }
        .four-one-content, .left-two-one-content, .main-content {
            padding-top: 5px;
            padding-bottom: 10px;
            overflow: hidden;
            height: calc(100% - 15px);

            .image {
                width: 100%;
                min-height: 180px;
                background-position: center;
            }

            .sub-image-text {
                text-align: right;
                font-size: 0.7em;
                color: #a7a7a7;
            }

            .title {
                margin-bottom: 5px;
                color: black;
                line-height: 1em;
                font-family: $title-font;
                font-size: 1.3em;
                text-align: left;
                text-transform: uppercase;
            }

            .description {
                padding-top: 0.6em;
                padding-bottom: 0.6em;
                color: grey;
                font-size: 1.2rem;
                text-align: left;
            }

            .author {
                color: black;
                text-align: left;
                text-transform: capitalize;
                font-size: 1.2rem;            }
        }

        .main-content {
            .image {
                height: 65%;
            }
            .title, .description, .author {
                text-align: center;
            }
        }
    }
}

.popular {
    padding: 10px;
}

.popular > a {
    text-decoration: none;
}

.popular > a > p {
    margin: 0;
    color: #000;
}

.popular > a > p:last-child {
    margin-bottom: 20px;
}

.popular > a > p span {
    color: #F0204F;
}

.authors {
    padding: 10px;
}

.author > div:nth-child(2) {
    padding: 0 10px 0 0;
}

.author p {
    margin: 0;
    padding: 0;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.author p > strong > a {
    color: #000;
}

.author:last-child hr, .latest hr:last-child {
    display: none;
}

.latest {
    padding: 10px;

    p {
        font-size: 1.2rem;
    }

    p:first-child {
        font-family: $title-font;
        font-size: 1.3rem;
    }

    a {
        color: #000;
    }
}

.footer {
    background-color: #000;
    padding: 20px;

    h1, div, .uk-nav-default > li.uk-active > a {
        color: #FFF;
    }
}
