.site-content {

  @media screen and (min-width: 640px) {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 640px) and (max-width: 1280px) {
    padding: 0 20px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}

.post {
  position: relative;

  .title {
    font-family: $title-font;
    text-transform: uppercase;
    hyphens: none;
  }
  .category {
    font-size: 50%;
    text-align: right;
  }
  .abstract {
    font-size: 70%;
  }
  .author {
    font-size: 75%;
  }
  .date {
    font-size: 70%;
  }
}

.main-post {
  order: unset;

  @media screen and (min-width: 640px) and (max-width: 960px) {
    order: -1;
  }
}

.post.post-main {
  text-align: center;

  .title, .abstract, .author, .date {
    padding: 0 15px;
  }
  .abstract {
    margin: 10px 0;
  }
}

.low-posts {
  order: unset;

  @media screen and (min-width: 640px) and (max-width: 960px) {
    order: -1;
  }
}

.post.post-low {
  text-align: left;
  margin-bottom: 30px;

  p {
    margin: 0;
  }
  .image {
    float: right;
    width: 80px;
    height: 80px
  }
  .title {
    font-size: 85%;
    line-height: 1rem;
  }

  @media screen and (max-width: 640px) {
    padding: 0 15px;
  }
}

.post.post-regular {
  height: 100%;
  text-align: left;

  .title {
    line-height: 1rem;
  }
  .author-date {
    margin-top: auto;
  }
  .title, .abstract, .author, .date {
    padding: 0 15px;
  }
}

.popular {
  padding: 10px;

  > a {
    text-decoration: none;
  }

  > a > p {
    margin: 0;
    color: #000;
  }

  > a > p:last-child {
    margin-bottom: 20px;
  }

  > a > p:nth-child(2) {
    font-size: 80%;
  }

  > a > p span {
    color: #F0204F;
  }
}

.authors {
  padding: 10px;

  .author > div:nth-child(2) {
    padding-left: 5px;
  }
  .author p {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .author p > strong > a {
    color: #000;
  }
}

.author:last-child hr, .latest > hr:last-child {
    display: none;
}

.latest {
  padding: 10px;

  p:first-child {
    font-family: $title-font;
    hyphens: none;
  }
  p:nth-child(2) {
    font-size: 80%;
    text-align: right;

    a {
      float: left;
    }
  }
  a {
    color: #000;
  }
}

.footer {
    background-color: #000;
    padding: 20px;

    h1, div, .uk-nav-default > li.uk-active > a {
        color: #FFF;
    }
}
