.media-container {
  margin-bottom: 60px;
  padding-left: 0;
  padding-right: 0;

  @media screen and (min-width: 640px) {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 1376px) {
    min-width: 1280px;
  }
}

.media-post {
  h2 {
    margin: 0;
    font-size: 120%;

    > a, > a:hover {
      color: $black;
    }
  }

  .author {
    @media screen and (max-width: 640px) {
      font-weight: normal;
    }
  }

  .image {
    height: 200px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
  
  .media-author {
    font-size: 65%;

    @media screen and (max-width: $break-xs) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .media-date {
    margin-top: 0px;
    font-size: 70%;

    @media screen and (max-width: $break-xs) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .media-title {
    font-size: 70%;

    @media screen and (max-width: $break-xs) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
