.media-posts {
  display: flex;
  flex-wrap: nowrap;

    h2 {
      margin: 0;
      font-size: 120%;
  
      > a, > a:hover {
        color: $black;
      }
    }
    
    .author {
      @media screen and (max-width: 640px) {
        font-weight: normal;
      }
    }

    .image {
      height: 200px;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  
  .media-author {
    font-size: 65%;
  }

  .media-date {
    margin-top: 0px;
    font-size: 70%;
  }

  .media-title {
    font-size: 70%;
  }
