$navbar-height: 3em;
$mini-navbar-height: 4em;
$navbar-break-s: 600px;
$navbar-break-m: 800px;

.navbar-title{
    height: auto;
    top: -0.4em;
    left: -0.6em;
    position: relative;
    .second, .first{
        text-transform: capitalize;
        color: white;
        font-family: $navbar-title-font;
        white-space: nowrap;
    }

    .first{
        font-size: 2em !important;
    }

    .second{
        font-size: 0.75em !important;
        position: absolute;
        top: 3em;
        left: 6.1em;
    }

}

.navbar-container {
    height: $navbar-height;
    background: black !important;
    .ul-reduced {
        height: $navbar-height;
    }
    a {
        font-family: $navbar-items-font !important;
    }
    .a-reduced {
        height: 100%;
        text-transform: capitalize !important;
        color: white !important;
        .with-dropwdown {
            padding-right: 4px;
        }
        .dropdown-arrow-up {
            width: 0;
            height: 0;
            border-left: 0.5em solid transparent;
            border-right: 0.5em solid transparent;
            border-bottom: 0.5em solid white;
            display:none;
            position: absolute;
            top: 3em;
        }
        .text-icons{
            position: relative;
            margin-top: 3px;
        }
        .icon-up, icon-down {
            position: absolute;
            top: 0;
            left: 0;
        }
        .icon-up{
            visibility: hidden;
            top: 3px;
        }
        &[aria-expanded="true"] {
            .dropdown-arrow-up {
                display:block;
            }
            .icon-up {
                visibility: visible;
            }
            .icon-down {
                visibility: hidden;
            }
        }
    }
    .subscribe {
        @media screen and (min-width: 0) and (max-width: $navbar-break-s) {
            display: inline-flex;
        }
        @media screen and (min-width: $navbar-break-s) and (max-width: $navbar-break-m) {
            display: none;
        }
    }
    .hide-on-small {
        @media screen and (max-width: $navbar-break-s - 1) {
            display: none;
        }
    }
    .dropwdown-container {
        background-color: white !important;
        a {
            text-transform: capitalize;
            color: black !important;
            &:hover{
                color: #666 !important;
            }
        }
    }
}

.mini-navbar-container {
    height: $mini-navbar-height;
    font-family: $navbar-items-font;
    color: black !important;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    @media screen and (min-width: $navbar-break-s) {
        display: none;
    }
    .element {
        cursor: pointer;
        padding-top: 4px;
    }
}
