.uk-offcanvas-close {
    position: absolute;
    &.close-left {
        left: 1em;
    }
    &.close-right {
        right: 1em;
    }
}

.uk-offcanvas-bar-animation {
    @media (max-width: $break-xs) {
        width: 100vw;
    }
}
