$navbar-height: 3em;
$mini-navbar-height: 4em;
$navbar-break-s: 640px;
$navbar-break-m: 9600px;

.navbar-title{
    height: auto;
    top: -0.4em;
    left: -0.6em;
    position: relative;
    .second, .first{
        text-transform: capitalize;
        color: white;
        font-family: $title-font;
        white-space: nowrap;
    }

    .first{
        font-size: 2em !important;
    }

    .second{
        font-size: 0.75em !important;
        position: absolute;
        top: 3em;
        left: 6.1em;
    }

}

.navbar-container {
    height: $navbar-height;
    background: black !important;
    .ul-reduced {
        height: $navbar-height;
    }
    .a-reduced {
        height: 100%;
        color: white !important;
        text-transform: capitalize;
        hyphens: none;

        @media screen and (max-width: 700px) {
            // font-size: .8rem;
        }

        .with-dropdown {
            padding-right: 4px;
        }
        .dropdown-arrow-up {
            width: 0;
            height: 0;
            border-left: 0.5em solid transparent;
            border-right: 0.5em solid transparent;
            border-bottom: 0.5em solid white;
            display:none;
            position: absolute;
            top: 2.5em;
        }
        .text-icons{
            position: relative;
            margin-top: 2px;
        }
        .icon-up, .icon-down {
            top: 0;
            left: 0;
        }
        .icon-up{
            display: none;
        }
        &[aria-expanded="true"] {
            .dropdown-arrow-up {
                display:block;
            }
            .icon-up {
                display: block;
            }
            .icon-down {
                display: none;;
            }
        }
    }
    .subscribe {
        @media screen and (min-width: 0) and (max-width: $navbar-break-s) {
            display: inline-flex;
        }
        @media screen and (min-width: $navbar-break-s) and (max-width: $navbar-break-m) {
            display: none;
        }
    }
    .hide-on-small {
        @media screen and (max-width: $navbar-break-s - 1) {
            display: none;
        }
    }
    .show-only-on-small {
        display: none;
        @media screen and (max-width: $navbar-break-s - 1) {
            display: inline-flex;
        }
    }
    .show-only-on-bigger-than-small {
        display: none;
        @media screen and (min-width: $navbar-break-s) {
            display: inline-flex;
        }
    }
    .dropdown-container {
        background-color: white;
        hyphens: none;
        a {
            color: black !important;
            text-transform: capitalize;

            &:hover{
                color: #666 !important;
            }
        }
    }
    .search-inline-bar {
        margin-left: 1em;
        &, .uk-navbar-item, .uk-navbar-toggle {
            height: $navbar-height;
        }
    }
}

.mini-navbar-container {
    height: $mini-navbar-height;
    font-family: $text-font;
    color: black !important;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    @media screen and (min-width: $navbar-break-s) {
        display: none;
    }
    .element {
        cursor: pointer;
        padding-top: 4px;

        .mini-description {
            hyphens: none;
        }
    }
}

.mini-navbar-offcanvas{
    width: 100vw;
    .uk-offcanvas-bar{
        width: 100vw;
        background: white;
        color: black;
        h3,.uk-offcanvas-close, a {
            color: black !important;
        }
        .nav-divider{
            background: #dedede;
            height: 2px;
            margin-bottom: 1em;
        }
        a {
            text-transform: capitalize;
            font-weight: normal !important;
            font-size: 1.6em;
            font-family: $text-font;
            line-height: 2em;
        }    
        h3 {
            text-transform: uppercase;
            font-weight: bolder;
            font-size: 1.6em;
            margin-bottom: 0.3em;
            margin-top: 0.3em;
        }
    }
}
