.post {
  position: relative;

  .title {
    font-family: $title-font;
    text-transform: uppercase;
    hyphens: none;
  }
  .category {
    font-size: 50%;
    text-align: right;
  }
  .abstract {
    font-size: 70%;
  }
  .author {
    font-size: 75%;
  }
  .date {
    font-size: 70%;
  }
}

.post.post-main {
  text-align: center;

  .title, .abstract, .author, .date {
    padding: 0 15px;
  }
  .abstract {
    margin: 10px 0;
  }
}

.post.post-low {
  text-align: left;
  margin-bottom: 30px;

  p {
    margin: 0;
  }
  .image {
    float: right;
    width: 80px;
    height: 80px
  }
  .title {
    font-size: 85%;
    line-height: 1rem;
  }

  @media screen and (max-width: 640px) {
    padding: 0 15px;
  }
}

.post.post-regular {
  text-align: left;

  .title {
    line-height: 1rem;
  }
  .date {
    text-align: right;
  }
  .title, .abstract, .author, .date {
    padding: 0 15px;
  }
}
