.el-post {

    feature-image-container {
        padding: 0 !important;
    }

    .featured-image{
        display: block;
        width: 100% !important;
        height: 60vh !important;
        @media (max-width: $break-xs) {
            height: 30vh !important;
        }
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;

        img {
            width: 100vw;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .title-container {
        position: relative;
        top: -10vh;
        margin-bottom: -10vh;
        background: white;
        
        h1 {
            font-family: $caption-font;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
        }
    }

    .uk-article {
        font-family: $default-font;
    }

    .post-content {
        color: #242424;

        img {
            padding-top: 0.6em;
            padding-bottom: 0.6em;
        }
    }

    .uk-text-lead {
        line-height: 1.1em;
    }

}
