.article {
  padding: 0 30px;

  @media screen and (min-width: $break-s) {
    padding: 0 60px;
  }

  .uk-text-meta {
      font-size: 80%;
      padding-top: 1em;
      padding-bottom: 1.5em;
      .category-meta {
          a:before {
              content: '\2022';
              margin-right: 0.1em;
              color: #e8e8e8;
          }
          &  > :first-child {
              padding-left: 3px;
          }
          &  > :first-child:before {
              display: none;
          }
      }
      & > div:first-child{
          padding-bottom: 0.4em;
      }
      a {
          color: #ff0052;
      }
      a:hover {
          color: #ff0052;
      }
  }

  .article-content {
    line-height: 1.4;
    margin-bottom: 5em;

    p {
      color: $black;
      hyphens: none;
      font-size: 22px;
      margin-top: 0;
      margin-bottom: 1.2em;
    }

    img {
      margin: 20px 0;
      color: #0366d6;
      vertical-align: unset;
    }

    @media screen and (min-width: $break-s) {
      font-size: 24px;

      .img-left {
        width: 50%;
        margin-left: -2%;
        margin-right: 2%;
      }
      .img-right {
        width: 50%;
        margin-left: 2%;
        margin-right: -2%;
      }
    }
  }

  .post-main-title {
    margin-top: 1rem;
    margin-bottom: 0;
    border-top: 2px solid #666;
    font-size: 170%;
  }

}

.post-edit-button {
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: bolder;
  color: #2217d7;
}

.post-main-tags {
  background: #686868;
  color: white;
  text-transform: lowercase;
  height: 20px;
  padding: 0.15em 4px;
  font-size: 11px;
  font-weight: 600;
  line-height: 15px;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(27,31,35,0.12);
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}

.media-play-button::before {
  background: url("/images/play.png") no-repeat;
  background-size: 86%;  
  position: absolute;  
  bottom: 5px;
  content: '';
  display: block;
  height: 29px;
  left: 12px;
  width: 27px;
  z-index: 1;
}

.media-play-button::after {
  content: "";
  border: 1px solid rgba(0,0,0,0.05);
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: -1px;
}

.media-volume-button::before {
  background: url("/images/volume.png") no-repeat;
  background-size: 86%;
  position: absolute;
  bottom: 5px;
  content: '';
  display: block;
  height: 29px;
  left: 12px;
  width: 27px;
  z-index: 1;
}

.uk-cover-container {
  box-sizing: border-box;
  min-height: 30vh;
  height: 30vh;

  @media screen and (min-width: $break-s) {
    height: calc(85vh - #{$navbar-height});
  }
}

.social-share {
    padding-bottom: 0.5em;
    .social-button {
        padding-right: 1em;
    }
    .email {
        color: grey;
    }

    .facebook {
        color: #4267b2;
    }

    .twitter {
        color: #1ea1f3;
    }
}
