.article {
  .uk-text-meta {
    padding-top: 2em;
    a {
      color: #222;
    }
    a:hover {
      color: #222;
    }
  }
  .article-content {
    p {
      color: $black;
      font-size: 18px;
    }
    img {
      margin: 20px 0;
    }
    @media screen and (min-width: $break-s) {
      .img-left {
        width: 50%;
        margin-left: -2%;
        margin-right: 2%;
      }
      .img-right {
        width: 50%;
        margin-left: 2%;
        margin-right: -2%;
      }
    }
  }

  .post-edit-button {
      text-transform: uppercase;
      font-size: 0.6em;
      font-weight: bolder;
      color: #2217d7;
  }

  .post-main-title {
    margin-bottom: 0px;
    display: inline;
  }

  .post-main-tags {
      background: #686868;
      color: #f0f0f0;
      @media screen and (max-width: $break-s) {
          font-size: 0.6em;
          height: 2em;
      }
  }

}

.uk-cover-container {
  box-sizing: border-box;
  min-height: 30vh;
  height: 30vh;

  @media screen and (min-width: $break-s) {
    min-height: 100vh;
    height: 100vh;
  }
}
