$card-padding-1: 0.2em;
$card-padding-2: 0.7em;

.uk-card-default {
    background: white;
    box-shadow: unset;
    margin-bottom: 2em;

    @media (min-width: 0px) and (max-width: $break-xs) {
        padding-left: 0;
        padding-right: 0;
    }

    @media (min-width: $break-xs) and (max-width: $break-md) {
        padding-left: $card-padding-1;
        padding-right: $card-padding-1;
    }

    @media (min-width: $break-md) {
        padding-left: $card-padding-2;
        padding-right: $card-padding-2;
    }
    
    img {
        width: 100%;
    }
    .media {
        overflow:hidden;
        height: 0;
        padding-top:56.25%;
        background-size:     cover !important;
        background-repeat:   no-repeat !important;
        background-position: center center !important;
        margin-bottom: 0.3em;
        margin-top: 0.1em;
    }
    
}

.post-card {
    .featured-category {
        font-size: 0.8em;
        font-weight: bold;
        font-family: $default-font;
    }
    .author {
        font-size: 0.7em;
        color: black;
    }
    .body {
        padding: 0;
        padding-bottom: 5px;
        h3 {
            font-family: $caption-font;
            font-size: 1.3em;
            line-height: 1.2em;
            text-transform: uppercase;
            margin-bottom: 0.3em;
            font-weight: bold;
        }
        p {
            font-family: $default-font;
            line-height: 1.3em;
            margin-top: 0;
            margin-bottom: 0.3em;
        }
    }
}


.featured-post {
    width: 100vw;
    overflow: hidden;
    cursor: pointer;
    
    @media (min-width: $break-xs) {
        margin-top: 2 * $card-padding-2;
        margin-bottom: 2 * $card-padding-2;
        margin-left: $card-padding-2;
    }

    h3 {
        margin-top:0;
    }
    
    .media {
        padding: 0;
        height: 100%;
        width: 100%;
        background-size:     cover !important;
        background-repeat:   no-repeat !important;
        background-position: center center !important;
        height: 50vh;
    }

    .body {
        padding-left: 1em;
    }

}


.featured-top-bar {
    background: black;
    height: 0.1em;
    margin-bottom: 0.6em;
    @media (max-width: $break-xs) {
        display: none;
    }
}

.featured-bar-bottom {
    margin-top: 2em;
    margin-bottom: 2em;
    background: black;
    height: 0.15em;
    width: 100%;
    @media (max-width: $break-xs) {
        display: none;
    }
}
