$break-xs: 768px;
$break-md: 1050px;

@import url('/fonts/equity.css');
@import url('/fonts/1406-fonts.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

$caption-font: 'concourse-t3';
$default-font: 'equity-text';
$admin-nav-title-font: 'Raleway', sans-serif;
$admin-side-bar-font: 'Open Sans', serif;

$black: #222;
$black-light: #444;
