$break-xs: 768px;
$break-md: 1050px;

@import url('https://practicaltypography.com/fonts/equity-b.css');
@import url('https://practicaltypography.com/fonts/1406-fonts.css');
@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$caption-font: 'equity-caps';
$default-font: 'equity-text';
