/* This file is for your main application css. */

.el-sites-nav ul, .el-cat-nav ul {
    margin-bottom: 0px;
}

.el-sites-nav *{
    font-size: small !important; 
}

.el-sites-nav li{
    padding-left: 2px;
}
