.title h1 {
  font-size: 100px;
  font-family: "Segoe UI";
}
.title h1 a {
  all: unset;
  cursor: pointer;
}

.nav-mini-interactions {
  min-height: 1em;
}
.nav-mini-interactions .uk-button {
  padding-left: 0px;
  padding-right: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  font-size: small;
  line-height: inherit;
}

.no-link-decoration:hover {
  text-decoration: none; 
}

.el .el-feature-image-container .uk-first-column {
    padding: 0 !important;
}
.el .el-featured-image{
  display: block;
  width: 100% !important;
  max-height: 20em !important;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
