@import "../node_modules/flexboxgrid/dist/flexboxgrid";
@import "../node_modules/uikit/dist/css/uikit.min";
@import "_variables";
@import "_navbar";
@import "_navigation";
@import "_post_card";
@import "_post";
@import "_landing_page";
@import "_category";
@import "_administration";

html {
font-family: $default-font;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
  font-family: $caption-font;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.el-menu-icon {
  color: #2b2628;
}

.el-arrow-icon {
  color: #7d7779;
}

.no-link-decoration:hover {
  text-decoration: none;
}

.el-menu-card {
  width: 300px;
  max-width: 400px;
}

.el-form {
  padding-top: 15vh;
  width: 100%;
  .uk-card {
    width: 100%;
  }
}

.el-title {
  text-align: center;
  h2 {
    a {
      color: white;
    }
  }
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .sign-out-tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  z-index: 1;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;

  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .sign-out-tooltiptext {
  visibility: visible;
}

.el-menu-table {
  border: 2px solid black;
  margin-top: 15vh;
}

.el-title {
  .tag-title {
    background-color: #151515;
  }
}

.hide {
  display: none;
}

.uk-navbar-container.uk-navbar, .uk-navbar-container.uk-navbar li > .uk-navbar-dropdown, .uk-navbar-dropbar {
  background-color: $black;
}

.uk-light .uk-navbar-nav > li > a, .uk-light .uk-navbar-dropdown-nav > li > a, .uk-offcanvas .uk-nav > li > a, .uk-offcanvas .uk-nav .uk-nav-sub > li > a {
  color: #fff;
  font-weight: bold;
}

.uk-offcanvas .uk-nav .uk-nav-sub > li > a:hover {
  font-weight: bold;
}

.uk-navbar .uk-button {
  margin: 20px;
  padding: 0 15px;
}

#offcanvas-side-menu .uk-parent {
  border-top: 1px solid $black-light;
  border-bottom: 1px solid $black-light;
}
#offcanvas-side-menu .uk-parent > ul {
  background-color: $black-light;
}
