<%= unless Enum.empty?(@ads) do %>
  <div>
    <h3 class="uk-text-bold uk-text-left">Promociones<hr></h3>
    <%= for ad <- @ads do %>
      <%= raw ad.rendered_content %>
    <% end %>
  </div>
<% end %>
