<div class="container">
<%= case get_top_featured_post(@conn, @site.posts) do %>
  <% {:error, _} -> %> error
  <% {:ok, top_post } -> %>
  <%= shared_render_posts_card @conn, 
  [top_post],
  Map.put(assigns, :featured, true) %>

<% end %>

  <%= case get_normal_posts(@conn, @site.posts) do %>
    <% {:error, _} -> %>  error
    <% {:ok, normal_posts } -> %>
      <%= shared_render_posts_card @conn, 
          normal_posts,
          assigns %>
  <% end %>

</div>
