<h2>Show Site</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @site.name %>
  </li>

</ul>

<span><%= link "Edit", to: site_path(@conn, :edit, @site) %></span>
<span><%= link "Back", to: site_path(@conn, :index) %></span>
