<%= render "form.html", Map.merge(assigns, %{
  action: site_post_path(@conn, :update, @site.name, @post.slug),
  title: "Edit post"
})%>

<span><%= link "Back", to: site_post_path(@conn, :index, @site) %></span>
