<%= render "form.html", Map.merge(assigns, %{
  action: site_or_magazine_path(@conn, :update, @site.name, @magazine, @post.slug),
  title: "Editar artículo"
})%>

<span><%= link "Regresar", to: site_or_magazine_path(@conn, :index, @site.name, @magazine) %></span>
