<h2>Show Post</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @post.name %>
  </li>

  <li>
    <strong>Image:</strong>
    <%= @post.image %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @post.content %>
  </li>

</ul>

<span><%= link "Edit", to: post_path(@conn, :edit, @post) %></span>
<span><%= link "Back", to: post_path(@conn, :index) %></span>
