<div class="uk-grid">
    <h2>Edit Category</h2>

    <%= render "form.html", Map.put(assigns, :action, site_category_path(@conn, :update, @site, @category)) %>

    <span><%= link "Back", to: site_category_path(@conn, :index, @site) %></span>
</div>
