<h2>Show Category</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @category.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @category.description %>
  </li>

  <li>
    <strong>Site ID:</strong>
    <%= @category.site_id %>
  </li>

</ul>

<span><%= link "Edit", to: site_category_path(@conn, :edit, @category, @site) %></span>
<span><%= link "Back", to: site_category_path(@conn, :index, @site) %></span>
